.form {
  &__input-wrapper {
    position: relative;
  }
  &__input {
    position: relative;
    padding: 1.4rem 1.6rem;
    border: .1rem solid #D0CFCF;
    border-radius: .4rem;
    width: 100%;
    background: transparent;
    &:focus {
      box-shadow: none;
      background: transparent;
      outline: none;
    }
    &:focus,
    &:not(:placeholder-shown) {
      & + .form__label {
        font-size: 1.2rem;
        transform: translate(0, -145%);
      }
    }
    &_error {
      border: 2px solid #CB3D40;
    }
  }

  &__label {
    position: absolute;
    color: #7E7E7E;
    top: 50%;
    left: 1.6rem;
    margin: auto;
    z-index: 1;
    padding: 0 .5rem;
    background: $background-color;
    overflow: hidden;
    transition: all 0.3s;
    transform: translate(0, -50%) scale(1);
    pointer-events: none;
    touch-action: none;
  }

  &__helper {
    position: absolute;
    bottom: 0;
    left: 1.6rem;
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: #7E7E7E;
    transform: translateY(calc(100% + .4rem));
  }

  &__input_error ~ &__label,
  &__input_error ~ &__helper {
    color: #CB3D40;
  }

  .upload {
    position: relative;
    display: flex;
    align-items: center;
    border: $border-upload-input;
    border-radius: 0.4rem;
    &__btn {
      outline: $border-upload-btn;
      border-radius: .4rem 0 0 .4rem;
      padding: 1.4rem 1.5rem;
      color: rgba($black-color, 0.87);
      &_error {
        border-right: .2rem solid #CB3D40;
        outline: none;
      }
    }
    &__hidden-btn {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }
    &__input {
      pointer-events: none;
      touch-action: none;
      border: none;
      background: transparent;
      border-radius: 0 .4rem .4rem 0;
      padding: 1.4rem 1.6rem;
      color: rgba($black-color, 0.87);
      width: 100%;
      &::placeholder {
        color: #7E7E7E;
      }
      &:focus {
        outline: none;
      }
    }
    &_error {
      border: .2rem solid #CB3D40;
      .form__helper {
        color: #CB3D40;
      }
    }
  }
  &__radio {}
  &__radio-title {
    font-weight: 400;
  }
  &__radio-label {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
    color: rgba($black-color, 0.87);
  }
  &__radio-input {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0 1.2rem 0 0;
    color: #000;
    width: 2rem;
    height: 2rem;
    border: 0.1rem solid #00BDD3;
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    &::before {
      content: "";
      width: .9rem;
      height: .9rem;
      border-radius: 50%;
      background-color: #00BDD3;
      transform: scale(0);
      transition: .3s transform ease-in-out;
      box-shadow: inset 1em 1em #00BDD3;
    }
    &:checked::before {
      transform: scale(1);
    }
  }

  &__btn {
    text-align: center;
  }
}

