.preloader {
  margin: 0 auto;
  display: block;
  -webkit-animation: rotate-scale-up 0.65s cubic-bezier(0.445, 0.050, 0.550, 0.950) infinite alternate forwards;
  animation: preloader_infinite 1s linear infinite ;
}