$primary-color: #F4E041;
$secondary-color: #00BDD3;
$background-color: #F8F8F8;
$black-color: #000000;
$white-color: #ffffff;
$gray-color: #B4B4B4;

$primary-button-hover: #FFE302;

$border-upload-input: .1rem solid #D0CFCF;
$border-upload-btn: .1rem solid rgba($black-color, 0.87);